<!doctype html>
<html lang="en">
<head>
    <title>审核认证</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="assets/img/logo.ico">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/animate.min.css" rel="stylesheet"/>
    <link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>
    <link href="assets/css/demo.css" rel="stylesheet" />
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="assets/img/sidebar-4.jpg">
    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="" class="simple-text">
                    管理后台
                </a>
            </div>
            <ul class="nav">
                <li class="active">
                    <a href="index.html">
                        <i class="pe-7s-home"></i>
                        <p>首页</p>
                    </a>
                </li>
                <li>
                    <a href="table.html">
                        <i class="pe-7s-user"></i>
                        <p>商家</p>
                    </a>
                </li>
                <li>
                    <a href="service">
                        <i class="pe-7s-note2"></i>
                        <p>服务类型</p>
                    </a>
                </li>
                <li>
                    <a href="static.html">
                        <i class="pe-7s-graph"></i>
                        <p>数据统计</p>
                    </a>
                </li>
                <li class="active-pro">
                    <a href="login.html?clear=true">
                        <i class="pe-7s-power"></i>
                        <p>退出</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>
    <div class="main-panel" id="tableTbody">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="content">
                <div class="navbar-header" style="color: #ffffff">
                占
                </div>
                <form class="form-horizontal">
                  <div class="form-group">
                    <div class="col-sm-10" style="margin-top: 15px;margin-left: 30px">
                      <input type="text" placeholder="输入商家名称" v-model="business" class="form-control" data-toggle="dropdown">
                    </div>
                    <button v-on:click="searchList" type="button" class="btn btn-info">搜索</button>
                  </div>
                </form>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">审核认证</h4>
                                <p class="category">需要审核认证的商家列表</p>
                            </div>
                            <div class="content table-responsive table-full-width" id="vmStore" >
                                <table class="table table-hover table-striped" style="text-align: center">
                                    <th style="text-align: center">编码</th>
                                	<th style="text-align: center">商家名称</th>
                                	<th style="text-align: center">截止日期</th>
                                    <tbody>
                                        <tr v-for="vm in vmTableList">
                                            <td>{{vm.code}}</td>
                                            <td><a v-bind:href="'./details.html?code='+vm.code">{{vm.name}}</a></td>
                                            <td>{{vm.last}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="table-footer">
                                    <ul class="pagination" id="pages"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/app.moment.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap-checkbox-radio-switch.js"></script>
    <script src="assets/js/chartist.min.js"></script>
    <script src="assets/js/bootstrap-notify.js"></script>
    <script src="assets/js/light-bootstrap-dashboard.js"></script>
    <script src="assets/js/jquery.twbsPagination.js"></script>
    <script src="assets/js/vue-2.1.10.min.js"></script>
    <script src="assets/js/demo.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var token = window.app.getuser();
            if(token == '' || token == null){
                window.location.href='login.html';
                return false;
            };
            var vm = new Vue({
              el: '#tableTbody',
              data: {
                vmTableList:{},
                // 搜索条件
                search: {
                    PageIndex: 1,
                    PageSize: 10
                },
                business:'',
                token:""
              },
              methods: {
                    load:function(token){
                        var that = this;
                        $.ajax({
                            url:"http://radar.3vcar.com/admin/task/index",
                            dataType:"json",
                            data:{
                                page : that.search.PageIndex,
                                approved:'Finish',
                                expired:0,
                            },
                            type:'GET',
                            beforeSend:function(xhr){
                                xhr.setRequestHeader('Authorization',token);
                            },
                            success: function (data) {
                                vm.$data.vmTableList = data.DataSource;
                                for(var i=0;i<vm.$data.vmTableList.length;i++){
                                    vm.$data.vmTableList[i].last = window.moment.format(vm.$data.vmTableList[i].last,"yyyy-MM-dd")
                                }
                                var $pager = $('#pages');
                                $pager.empty();
                                $pager.removeData("twbs-pagination");
                                $pager.unbind("page");
                                $pager.twbsPagination({
                                    totalPages: data.TotalPages,
                                    visiblePages: data.TotalPages > 5 ? 5 : data.TotalPages,
                                    startPage: data.PageIndex,
                                    initiateStartPageClick: false,
                                    onPageClick: function (event, page) {
                                        that.search.PageIndex = page;
                                        that.load();
                                    }
                                });
                            }
                        });
                    },
                    searchList:function(){
                        var arrStatus = [];
                        for (var i = this.vmTableList.length - 1; i >= 0; i--) {
                            if(this.vmTableList[i].name.indexOf(this.business)>=0){
                                arrStatus.push(this.vmTableList[i]);
                            }
                        }
                        vm.$data.vmTableList = arrStatus;
                    },
                }
            });
            vm.load(token);
        })
    </script>
</html>