<html lang="utf-8">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>商家信息</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/flatpickr.css" rel="stylesheet" type="text/css">
    <link href="assets/css/animate.min.css" rel="stylesheet"/>
    <link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>
    <link href="assets/css/demo.css" rel="stylesheet" />
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="assets/img/sidebar-5.jpg">
    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    管理后台
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="index.html">
                        <i class="pe-7s-home"></i>
                        <p>首页</p>
                    </a>
                </li>
                <li class="active">
                    <a href="table.html">
                        <i class="pe-7s-user"></i>
                        <p>商家</p>
                    </a>
                </li>
                <li>
                    <a href="service.html">
                        <i class="pe-7s-note2"></i>
                        <p>服务类型</p>
                    </a>
                </li>
                <li>
                    <a href="typography.html">
                        <i class="pe-7s-graph"></i>
                        <p>数据统计</p>
                    </a>
                </li>
                <li class="active-pro">
                    <a href="login.html?clear=true">
                        <i class="pe-7s-power"></i>
                        <p>退出</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed" style="background-color:#f8f8f8;border-bottom: none;"></nav>
        <div class="content" id="detailsForm">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">详情</h4>
                            </div>
                            <div class="content details-content" >
                                <form v-for="item in items" v-on:submit.prevent="onSubmit">
                                    <div class="typo-line">
                                        <p class="category">分类名称</p>
                                        <p class="text-muted">
                                        {{item.category}}
                                        </p>
                                    </div><div class="typo-line">
                                        <p class="category">服务范围</p>
                                        <p class="text-muted">
                                        天津-滨海新区
                                        </p>
                                    </div>
                                    <div class="typo-line">
                                        <p class="category">服务介绍</p>
                                        <p class="text-muted">
                                        {{item.description}}
                                        </p>
                                    </div>
                                    <div class="typo-line" id="calendarInput">
                                        <p class="category">有效日期</p>
                                        <p class="text-muted">
                                        {{item.last}}&nbsp;&nbsp;&nbsp;&nbsp;至&nbsp;&nbsp;&nbsp;&nbsp;
                                		<input class="calendar" :data-default-date="item.expired" :data-min-date="item.last" data-max-date="2020-01-01" v-model="item.expired">   
                                        </p>
                                    </div>
                                    <div class="typo-line">
                                        <p class="category">营销推广</p>
                                        <p class="text-muted">
                                        <label class="checkbox-inline">
                                        <input type="checkbox" v-model="item.hot"></label>
                                        推广
                                        </p>
                                    </div>
                                    <div class="typo-line">
                                        <p class="category">审核</p>
                                        <p class="text-muted">
                                        <label class="radio-inline">
                                          <input type="radio" :checked="radio" v-model="picked" name="inlineRadioOptions" id="inlineRadio1" value="Authenticated">
                                        </label>
                                        通过
                                        <label class="radio-inline">
                                          <input type="radio" :checked="!radio" v-model="picked" name="inlineRadioOptions" id="inlineRadio2" value="NoPass">
                                        </label>
                                        未通过
                                        <label class="radio-inline">
                                        <input type="text" class="form-control" style="width: 250px;height: 30px;margin-top: 3px;" v-model="item.comment" placeholder="审核意见" >
                                        
                                        </label>
                                        </p>
                                    </div>

                                    <button type="submit" class="btn btn-info btn-fill pull-right">提交</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" id="cardUser">
                        <div class="card card-user" v-for="item in items">
                            <div class="content">
                                <div class="author">
                                     <a href="#">
                                    <img class="avatar border-gray" :src="item.head">
                                      <h4 class="title">
                                      {{item.name}}
                                      </h4>
                                    </a>
                                </div>
                                <p class="description text-center">
                                {{item.phone}}
                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                                <p class="details-info">{{item.address}}</p> <br>
                                <div class="details-author">{{author}}</div>
                                <br>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="assets/js/flatpickr.js" type="text/javascript"></script>
    
	<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="assets/js/app.js"></script>
    <script src="assets/js/app.moment.js" type="text/javascript"></script>
	<script src="assets/js/chartist.min.js"></script>
    <script src="assets/js/bootstrap-notify.js"></script>
	<script src="assets/js/light-bootstrap-dashboard.js"></script>
    <script src="assets/js/vue-2.1.10.min.js"></script>
    <script src="assets/js/demo.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var token = window.app.getuser();
            if(token == '' || token == null){
                window.location.href='login.html';
                return false;
            };            
            var vm = new Vue({
              el: '#detailsForm',
              data: {
                items: [],
                radio:false,
                picked:"",
                number: 1,
                author:""
              },
                methods: {
                        onSubmit:function(e){
                            var tips = confirm('是否提交');
                            if(!tips){
                                return ;
                            }else{
                                $.ajax({
                                    url:"http://radar.3vcar.com/admin/shop/approval",
                                    dataType:"json",
                                    type:"POST",
                                    data:{
                                        code: this.items[0].code,
                                        status: this.picked,
                                        expired : this.items[0].expired,
                                        hot :this.items[0].hot,
                                        comment : this.items[0].comment
                                    },
                                    header:{
                                        'content-type': 'application/json',
                                        'Authorization': this.token
                                    },
                                    success: function (data) {
                                        console.log(data);
                                        if(data.Success){
                                            window.location.href = "./table.html"
                                        }else{
    						              	alert("失败")
                                        }
                                    }
                                });
                            }
                            
                        },
                        load:function(token){
                            var that = this;
                            var dataCode = window.app.getQueryString("code");
                            that.token = token;
                            window.app.token("/admin/shop/view",{code: dataCode},"GET",token,function(res){
                                that.items.push(res);
                                that.items[0].expired = window.moment.format(that.items[0].expired,"yyyy-MM-dd");
                                that.items[0].last = window.moment.format(that.items[0].last,"yyyy年MM月dd日");
                                //根据状态设置通过复选框
                                if(that.items[0].status == "Authenticated"){
                                    that.picked = "Authenticated"
                                }else if(that.items[0].status == "NoPass"){
                                    that.picked = "NoPass"
                                }
                                var thatStatus = {
                                  "Authenticating": "认证中",
                                  "Authenticated": "已认证",
                                  "NoPass": "未通过",
                                  "None": "无"
                                }
                                that.author = thatStatus[that.items[0].status];
                                that.$nextTick(function () {
                                    $(".calendar").flatpickr();  
                                });
                            })
                        }
                    }
            })
            vm.load(token);
        })
    </script>
</body>
</html>
