<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/logo.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>维修管理后台</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/animate.min.css" rel="stylesheet"/>
    <link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>
    <link href="assets/css/demo.css" rel="stylesheet" />
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="blue" data-image="assets/img/sidebar-5.jpg">
        	<div class="sidebar-wrapper">
                <div class="logo">
                    <a class="simple-text">
                        管理后台
                    </a>
                </div>
                <ul class="nav">
                    <li>
                        <a href="index.html">
                            <i class="pe-7s-home"></i>
                            <p>首页</p>
                        </a>
                    </li>
                    <li>
                        <a href="table.html">
                            <i class="pe-7s-user"></i>
                            <p>商家</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="service.html">
                            <i class="pe-7s-note2"></i>
                            <p>服务类型</p>
                        </a>
                    </li>
                    <li>
                        <a href="static.html">
                            <i class="pe-7s-graph"></i>
                            <p>数据统计</p>
                        </a>
                    </li>
                    <li class="active-pro">
                        <a href="login.html?clear=true">
                            <i class="pe-7s-power"></i>
                            <p>退出</p>
                        </a>
                    </li>
                </ul>
        	</div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed" style="background-color:#f8f8f8;border-bottom: none;"></nav>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <div style='display:inline-block'>
                                        <h4 class="title">服务类型</h4>
                                        <p class="category">所有服务类型数据</p>
                                    </div>
                                </div>
                                <div class="content table-responsive table-full-width" id='data'>
                                    <table class="table table-hover table-striped" >
                                        <thead>
                                            <th class="col-md-3">一级分类</th>
                                        	<th class="col-md-3">二级分类</th>
                                        	<th class="col-md-3">操作</th>
                                            <th></th>
                                        </thead>
                                        <tbody v-for="items of list">
                                            <tr v-if="items.tier == 1" >
                                                <td>{{items.name}}</td>
                                                <td></td>
                                                <td>
                                                    <a v-bind:href="'edit.html?code='+items.code+'&name='+items.name+'&tier='+items.tier+'&description='+items.description">编辑</a>
                                                    <a v-bind:href="'create.html?code='+items.code+'&name='+items.urlName">新增二级分类</a>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr v-if="items.tier == 2">
                                                <td></td>
                                                <td>
                                                    <a v-bind:href="'hot.html?name='+items.urlName+'&code='+items.code">{{items.name}}({{items.amount}})</a>
                                                </td>
                                                <td>
                                                    <a v-bind:href="'edit.html?code='+items.code+'&name='+items.name">编辑</a>
                                                    <a v-on:click="deleteItem(items.code)" href="javascript:void(0)">删除</a>
                                                </td>
                                                <td style='color:red;'>
                                                    {{items.message}}
                                                </td>
                                            </tr>   
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    <script src="assets/js/jquery-3.1.1.min.js" type="text/javascript"></script>
	<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="assets/js/bootstrap-checkbox-radio-switch.js"></script>
	<script src="assets/js/chartist.min.js"></script>
	<script src="assets/js/light-bootstrap-dashboard.js"></script>
	<script src="assets/js/demo.js"></script>
    <script src='assets/js/vue-2.1.10.min.js'></script>
    <script src='assets/js/app.js'></script>
    <script src='assets/js/utils.js'></script>
    <script type="text/javascript">        
        $(document).ready(function(){
            var token = window.app.getuser();
            console.log(token);
            if(token == '' || token == null){
                window.location.href='login.html';
                return false;
            };
            window.app.token('/shop/category',{code:'all'},'GET',token,function(res){
                console.log(res);
                for (var i = 0; i < res.length; i++) {
                    res[i].urlName = encodeURIComponent(res[i].name);
                    res[i].message = '';
                };
                vm.$data.list = res;
                vm.$data.token = token;
            });
            var vm = new Vue({
                el:'#data',
                data:{
                    list:'',
                },
                methods:{
                    deleteItem:function(code){
                        var con = confirm('确认删除');
                        var list = this.list;
                        if (con) {
                            $.ajax({
                                url:'http://radar.3vcar.com/admin/category/delete',
                                data:{
                                    code:code,
                                },
                                dataType:'json',
                                type:'POST',
                                beforeSend:function(xhr){
                                    xhr.setRequestHeader('Authorization', token);
                                },
                                success(res){
                                    console.log(res);
                                    if(res.Success){
                                        for (var i = 0; i < list.length; i++) {
                                            if (list[i].code == code) {
                                                list.splice(i,1);
                                            };
                                        };
                                        vm.$data.list = list;
                                    }else{
                                        for (var i = 0; i < list.length; i++) {
                                            if (list[i].code == code) {
                                                vm.$data.list[i].message = res.Message;
                                            };
                                        };
                                    }
                                }
                            });
                        };                            
                    }
                }
            });
        })    
    </script>
</html>

