<!doctype html>
<html lang="utf-8">
<head>
	<meta charset="utf-8" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <title>商家列表</title>
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/animate.min.css" rel="stylesheet"/>
    <link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>
    <link href="assets/css/demo.css" rel="stylesheet" />
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="assets/img/sidebar-5.jpg">

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="" class="simple-text">
                    管理后台
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="index.html">
                        <i class="pe-7s-home"></i>
                        <p>首页</p>
                    </a>
                </li>
                <li  class="active">
                    <a href="table.html">
                        <i class="pe-7s-user"></i>
                        <p>商家</p>
                    </a>
                </li>
                <li>
                    <a href="service.html">
                        <i class="pe-7s-note2"></i>
                        <p>服务类型</p>
                    </a>
                </li>
                <li>
                    <a href="static.html">
                        <i class="pe-7s-graph"></i>
                        <p>数据统计</p>
                    </a>
                </li>
				<li class="active-pro">
                    <a href="upgrade.html">
                        <i class="pe-7s-power"></i>
                        <p>退出</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        
                        
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        
                        
                        
                        <li>
                           <a href="">
                                
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">商家列表</h4>
                                <p class="category">所有商家数据</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>编码</th>
                                    	<th>商家名称</th>
                                    	<th>手机号码</th>
                                    	<th>注册日期</th>
                                        <th>营销推广</th>
                                        <th>服务范围</th>
                                        <th>服务类型</th>
                                        <th>状态</th>
                                    	<th>操作</th>
                                    </thead>
                                    <tbody id="tableTbody">
                                        <tr v-for="item in vmTableList.DataSource">
                                        	<td>{{item.code}}</td>
                                        	<td><a v-bind:href="'./details.html?code='+item.code" >{{item.name}}</a></td>
                                        	<td>{{item.phone}}</td>
                                        	<td>{{item.expired}}</td>
                                            <td v-if="item.hot == true">推广</td>
                                            <td v-else>不推广</td>
                                            <td>{{item.scope}}</td>
                                            <td>{{item.catgeory}}</td>
                                            <td v-if="item.status == 'Authenticating'">认证中</td>
                                            <td v-if="item.status == 'Authenticated'">已认证</td>
                                            <td v-if="item.status == 'NoPass'">未通过</td>
                                            <td v-if="item.status == 'None'">无</td>
                                        	<td v-on:click="deleteItem(item.code)"><a>删除</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-footer">
            <ul class="pagination" id="pages"></ul>
        </div>

    </div>
</div>

</body>
    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="assets/js/app.moment.js" type="text/javascript"></script>
	<script src="assets/js/bootstrap-checkbox-radio-switch.js"></script>
	<script src="assets/js/chartist.min.js"></script>
    <script src="assets/js/bootstrap-notify.js"></script>
    <script src="assets/js/light-bootstrap-dashboard.js"></script>
	<script src="assets/js/jquery.twbsPagination.js"></script>
    <script src="assets/js/vue-2.1.10.min.js"></script>
	<script src="assets/js/demo.js"></script>
    <script type="text/javascript">
            var vm = new Vue({
              el: '#tableTbody',
              data: {
                vmTableList:{},
                // 搜索条件
                search: {
                    PageIndex: 1,
                    PageSize: 10
                }
              },
              methods: {
                    deleteItem:function(e){
                        var tips = confirm('是否删除');
                        var arrTable = this.vmTableList.DataSource
                        if(!tips){
                            return ;
                        }else{
                            $.ajax({
                                url:"http://radar.3vcar.com/admin/shop/delete",
                                type:"POST",
                                data:{
                                    code:e
                                },
                                header:{
                                    'content-type': 'application/json',
                                    'Authorization': "eyJWYWxpZCI6dHJ1ZX0.MjYwMzQxNzY.ZGM4OTVkMTYzZWY0NDc4ODE4ODgzNDc4ZjdmMmYyY2RhMDI4MzJlMw"
                                },
                                success: function () {
                                    //删除操作
                                    for(var i=0;i<arrTable.length;i++){
                                        if(arrTable[i].code == e){
                                            arrTable.splice(i,1)
                                        }
                                    }
                                }
                            });
                        }
                    },
                    load:function(){
                        var that = this;
                        $.ajax({
                            url:"http://radar.3vcar.com/admin/shop/search",
                            dataType:"json",
                            data:{
                                page : that.search.PageIndex
                            },
                            header:{
                                'content-type': 'application/json',
                                'Authorization': "eyJWYWxpZCI6dHJ1ZX0.MjYwMzQxNzY.ZGM4OTVkMTYzZWY0NDc4ODE4ODgzNDc4ZjdmMmYyY2RhMDI4MzJlMw"
                            },
                            success: function (data) {
                                console.log(data);
                                vm.$data.vmTableList = data;
                                //格式化日期
                                for(var i=0;i<vm.$data.vmTableList.DataSource.length;i++){
                                    vm.$data.vmTableList.DataSource[i].expired = window.moment.format(vm.$data.vmTableList.DataSource[i].expired,"yyyy-MM-dd")
                                }
                                //分页
                                var $pager = $('#pages');
                                $pager.empty();
                                $pager.removeData("twbs-pagination");
                                $pager.unbind("page");

                                $pager.twbsPagination({
                                    totalPages: data.TotalPages,
                                    visiblePages: data.TotalPages > 5 ? 5 : data.TotalPages,
                                    startPage: data.PageIndex,
                                    initiateStartPageClick: false,
                                    onPageClick: function (event, page) {
                                        that.search.PageIndex = page;
                                        that.load();
                                    }
                                });
                            }
                    
                        });
                    }
                }
            });
            $(document).ready(function(){
                vm.load();
            })

    </script>


</html>
